/**
 * @description Action dropdown menu link pattern mixin
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
.action-dropdown-menu-link-pattern() {
    color: @action-dropdown__color;
    display: block;
    text-decoration: none;
}