/**
 * @description Action icon mixin
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
.action-icon() {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;

    &:hover {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
    }
}