/**
 * @description Select menu mixin
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
.selectmenu() {
    .selectmenu {
        &:extend(.abs-form-control-pattern);
        display: inline-block;
        padding-left: 1.5rem;
        position: relative;
        text-align: left;
        width: auto;
        z-index: 1;
        border: 1px solid @action__border-color;

        &:hover {
            &:extend(.abs-form-control-pattern:hover);
        }

        &._focus {
            &:extend(.abs-form-control-pattern:focus);
        }

        &._active {
            border-color: @action__active__border-color;
            z-index: @action-select__z-index;
        }

        .action-save,
        .action-edit,
        .action-delete {
            .action-icon();
            padding: 0 1rem 0 1rem;

            &:before {
                &:extend(.abs-icon all);
                .get-icon(@icon-delete__content);
            }

            > span {
                &:extend(.abs-visually-hidden all);
            }
        }

        .action-edit,
        .action-delete {
            border: 0 solid @color-white;
            border-left-width: 1px;
            bottom: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;

            &:hover {
                border: 0 solid @color-white;
                border-left-width: 1px;
            }
        }

        .action-save:before {
            .get-icon(@icon-arrow-right__content);
        }

        .action-edit:before {
            .get-icon(@icon-edit__content);
        }

        .selectmenu-value {
            display: inline-block;

            input[type='text'] {
                .lib-css(appearance, none, 1);
                border: 0;
                display: inline;
                margin: 0;
                width: 8rem;

                body._keyfocus &:focus {
                    box-shadow: none;
                }
            }
        }

        .selectmenu-toggle {
            .action-toggle-triangle();
            background: transparent;
            border-width: 0;
            bottom: 0;
            float: right;
            position: absolute;
            right: 0;
            top: 0;
            width: 0;

            &:focus,
            &:active,
            &:hover {
                background: transparent;
            }

            .selectmenu:hover & {

                &:before {
                    &:extend(.abs-form-control-pattern:hover);
                }
            }

            .selectmenu._active &:before {
                border-color: @action__active__border-color;
            }

            .selectmenu._focus &:before {
                &:extend(.abs-form-control-pattern:focus);
            }

            body._keyfocus &:focus {
                box-shadow: none;
            }

            span {
                &:extend(.abs-visually-hidden all);
            }

            &:before {
                background: @color-gray89;
                border-left: 1px solid @action__border-color;
                bottom: 0;
                content: '';
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                width: 3.2rem;
            }
        }

        .selectmenu-items {
            background: @action-dropdown__background-color;
            border: 1px solid @action__active__border-color;
            box-shadow: @component__box-shadow__base;
            display: none;
            float: left;
            left: -1px;
            margin-top: 3px;
            max-width: 20rem;
            min-width: ~'calc(100% + 2px)';
            position: absolute;
            top: 100%;

            &._active {
                display: block;
            }

            ul {
                float: left;
                list-style-type: none;
                margin: 0;
                min-width: 100%;
                padding: 0;
            }

            li {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction(row);
                display: flex;
                flex-direction: row;
                transition: background .2s linear;

                &:hover {
                    background: @action-menu__hover__background-color;
                }

                &:last-child {

                    .selectmenu-item-action {
                        .lib-link();
                    }
                }
            }

            .selectmenu-item {
                position: relative;
                width: 100%;
                z-index: 1;

                li._edit > & {
                    display: none;
                }

                .selectmenu-item-action {
                    .lib-css(appearance, none, 1);
                    background: transparent;
                    border: 0;
                    color: @text__color;
                    display: block;
                    font-size: @font-size__base;
                    font-weight: @font-weight__regular;
                    min-width: 100%;
                    padding: 1rem 6rem 1rem 1.5rem;
                    text-align: left;
                    transition: background .2s linear;
                    width: 5rem;

                    &:hover,
                    &:focus {
                        background: @action-menu__hover__background-color;
                    }
                }
            }

            .selectmenu-item-edit {
                display: none;
                padding: .3rem 4rem .3rem .4rem;
                position: relative;
                white-space: nowrap;
                z-index: 1;

                li:last-child & {
                    padding-right: .4rem;
                }

                .admin__control-text {
                    margin: 0;
                    width: 5.4rem;
                }

                li._edit & {
                    display: block;
                }
            }
        }
    }
}
