/**
 * @description Link pattern mixin
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
.link-pattern() {
    color: @link__color;
    text-decoration: none;

    &:hover {
        color: @link__hover__color;
        text-decoration: underline;
    }
}