/**
 * @description Animation variables
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
@smooth__background-color: background-color .1s linear;
@smooth__color: color .1s linear;
@appearing__transition-duration: .15s;
@appearing__transition-timing-function: ease;