/**
 * @description Icon variables
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
@icons-ui__font-name: 'UI Icons';
@icons-ui__file-name: 'ui-icons';
@icons-ui__font-name-path: '@{baseDir}fonts/@{icons-ui__file-name}';