/**
 * @description Page variables
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
@menu__width: 8.8rem;
@page-content__padding-horizontal: @content__indent;
@page-wrapper__background-color: @page__background-color;
@page-wrapper__indent-left: @menu__width;
@page-actions__fixed__z-index: @z-index-4;

