/**
 * @description Icon styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
.lib-font-face(
    @family-name: @icons-ui__font-name,
    @font-path  : @icons-ui__font-name-path,
    @font-weight: normal,
    @font-style : normal
);