/**
 * @description Data grid base variables
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
@table__color: @primary__color;
@grid-columns: 12;
@grid-gutter-width: 0;
@data-grid-cell__border-width: .1rem;
@data-grid-cell__padding-vertical: 1rem;
@data-grid-cell__padding-horizontal: 1rem;
@data-grid-checkbox-cell-inner__padding-top: 1.1rem;
@data-grid-checkbox-cell-inner__padding-horizontal: 1.8rem;
@data-grid-th__background-color: @color-black;
@data-grid-th__border-color: @color-white;
@data-grid-th__border-style: solid;
@data-grid-th__color: @color-white;
@data-grid-th__padding-horizontal: @data-grid-cell__padding-horizontal;
@data-grid-th__padding-vertical: @data-grid-cell__padding-vertical;
@data-grid-th__hover__background-color: lighten(@data-grid-th__background-color, 5%);
@data-grid-th-marker__width: .7rem;
@data-grid-th-marker__required__color: lighten(@data-grid-th__background-color, 10%);
@data-grid-header-add-indent__bottom: .9rem;
@data-grid-header-add-indent__top: .5rem;
@data-grid-header-row__indent: @indent__base;
@data-grid-header__z-index: @z-index-1 - 20;
@data-grid-tr__active__background-color: @color-gray_light;
@data-grid-tr__hover__background-color: lighten(@data-grid-tr__active__background-color, 1%);
@data-grid-row-changed__icon: @icon-edit__content;
@data-grid-row-changed-tooltip__background: @color-gray_light;
@data-grid-row-parent-marker__size: 1rem;
@data-grid-horizontal-dragover-mark__color: @color-gray_light;
@data-grid-horizontal-dragover-mark__width: 3px;
@data-grid-td__border-color: @color-gray_light;
@data-grid-td__border-inner-style: dashed;
@data-grid-td__border-outer-style: solid;
@data-grid-td__even__background-color: @page__background-color;
@data-grid-td__even__dragging__background-color: @page__background-color;
@data-grid-td__even__edit__background-color: darken(@data-grid-td__even__background-color, 10%);
@data-grid-td__odd__background-color: @page__background-color;
@data-grid-td__odd__dragging__background-color: @page__background-color;
@data-grid-td__odd__edit__background-color: darken(@data-grid-td__odd__background-color, 10%);
@data-grid-td__update__active__background-color: @color-gray_light;
@data-grid-td__update__upcoming__background-color: @color-gray_light;
@data-grid-td__odd__update__active__background-color: darken(@data-grid-td__update__active__background-color, 10%);
@data-grid-td__odd__update__upcoming__background-color: darken(@data-grid-td__update__upcoming__background-color, 10%);
@data-grid-td__dragging__background-color: @color-gray_light;
@data-grid-td__dragging__opacity: 95%;
@data-grid-bulk-edit-panel__background-color: @color-gray_light;
@data-grid-editable-row-actions__width: 25rem;
@data-grid-editable-cell__border-color: @color-gray_light;
@data-grid-dragging-copy__border-color: @color-gray_light;
@data-grid-dragging-copy__border: 1px solid @data-grid-dragging-copy__border-color;
@data-grid-dragging-copy__outline-color: @color-gray_light;
@data-grid-dargging-copy__z-index: @z-index-10;
@data-grid-tooltip__background-color: @page__background-color;
@data-grid-tooltip__border-color: @color-black;
@data-grid-tooltip__box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .3);
@data-grid-tooltip-content__width: 24rem;
@data-grid-tooltip__z-index: @z-index-1;
@data-grid__font-size: 1.3rem;
@data-grid-spinner__size: 4rem;
@data-grid-action__z-index: @data-grid-header__z-index - 10;
@data-grid-overlay__z-index: @z-index-4;
@data-grid__no-records__font-size: @font-size__l;
@data-grid__no-records__padding: @indent__l;