/**
 * @description Data grid icons
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
@icon-sort__content: '\2193';
@icon-edit__content: '\e631';
@icon-search__content: '\e60c';
@icon-filter__content: '\e605';
@icon-remove-small__content: '\e620';
@icon-caret-up__content: '\e62b';
@icon-caret-right__content: '\e62a';
@icon-caret-down__content: '\e628';
@icon-caret-left__content: '\e629';
@icon-views__content: '\e60f';
@icon-arrow-right__content: '\e625';
@icon-delete__content: '\e630';
@icon-systems__content: '\e610';
@icon-export__content: '\e635';